---
import HTML from './HTML.astro';
import CSS from './CSS.astro';
import JavaScript from './JavaScript.astro';
import Vue from './Vue.astro';
import React from './React.astro';
import LinkButton from './LinkButton.astro';
import GitHubIcon from './icons/GitHubIcon.astro';
import Link from './icons/Link.astro';

const TAGS = {
    HTML: {
        name: 'HTML',
        class: "bg-[#841a00] text-white",
        icon: HTML
    },
    CSS: {
        name: 'CSS',
        class: "bg-[#023f68] text-white",
        icon: CSS
    },
    JavaScript: {
        name: 'JavaScript',
        class: "bg-[#938702] text-white",
        icon: JavaScript
    },
    Vue: {
        name: 'Vue',
        class: "bg-[#29664a] text-white",
        icon: Vue
    },
    React: {
        name: 'React',
        class: "bg-[#1f86a8] text-white",
        icon: React
    }
}
const PROJECTS = [
    {
        title: 'CriptoCode',
        description: 'Este proyecto es una billetera virtual de criptomonedas desarrollada con Vue.js, Axios y Pinia para gestionar el estado global. Permite a los usuarios consultar el saldo de sus criptomonedas, realizar transacciones de compra y venta, y ver el historial de sus movimientos. La aplicación interactúa con una API para obtener los precios actuales de criptomonedas y permite realizar operaciones de manera segura. Con un diseño intuitivo y funcional, el proyecto demuestra mis habilidades en el desarrollo de aplicaciones frontend.',
        link: "https://cryptocurrency-wallet-green.vercel.app/",
        github: "https://github.com/rodrireburdo/CryptoCode-Wallet",
        image: "./assets/Captura-CriptoCode.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript, TAGS.Vue]
    },
    {
        title: 'Buscaminas',
        description: 'Este proyecto es una versión interactiva del clásico juego Buscaminas, desarrollado con JavaScript, HTML, Bootstrap y React. Utiliza React para gestionar el estado del juego de forma eficiente.',
        link: "https://buscaminas-gilt.vercel.app/",
        github: "https://github.com/rodrireburdo/Buscaminas",
        image: "./assets/Captura-Buscaminas.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript, TAGS.React]
    },
    {
        title: 'Paint Win 95',
        description: 'Este proyecto es una recreación del clásico Paint de Windows 95, desarrollado con HTML, CSS y JavaScript. La aplicación ofrece una interfaz sencilla y funcional donde los usuarios pueden dibujar, elegir colores y borrar, emulando la experiencia del original, utilizando solo tecnologías web estándar.',
        link: "https://paint-win-95.vercel.app/",
        github: "https://github.com/rodrireburdo/paint-win-95",
        image: "./assets/Captura-Paint.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript]
    },
    {
        title: 'MarketPlace',
        description: 'Este proyecto es un marketplace desarrollado con HTML, CSS, JavaScript y Vue.js, sin utilizar Vue CLI. La aplicación permite a los usuarios navegar por productos y añadirlos a un carrito de compras, todo gestionado a través de la reactividad de Vue.js. El proyecto demuestra cómo se puede implementar un marketplace dinámico y funcional utilizando Vue.js directamente en archivos JavaScript, sin depender de configuraciones complejas, manteniendo la estructura simple y accesible.',
        link: "https://marketplace-six-red.vercel.app/",
        github: "https://github.com/rodrireburdo/Proyecto-Marketplace",
        image: "./assets/Captura-MarketPlace.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript, TAGS.Vue]
    }
]
---


<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img alt="Captura de pantalla de la web" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
    </div>

    <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
        </h3>
        <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
                {tags.map((tag) => (
                    <li>
                        <span
                            class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                        >
                        <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>

        <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
                <LinkButton href={github}>
                <GitHubIcon class="size-6" />
                Code 
                </LinkButton>
            )}
            {link && (
                <LinkButton href={link}>
                    <Link class="size-4" />
                    Preview
                </LinkButton>
            )}
        </footer>
        </div>
    </div>
    </article>
    ))
    }
</div>